.header {
    background: #555;
}

.header_inner_wrapper {
    max-width: 1140px;
    min-height: 10vh;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: nowrap;
}

.navbar_list_item a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    white-space: nowrap;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

.navbar_list_item a.active {
    color: #FFFF00;
}

